
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span6">
      
      <%= simple_form_for @message, :url => contact_path do |f| %>
          
          <%= f.input :name, :label => 'Name' %>
          <%= f.input :email %>         
          <%= f.input :subject %>
          <%= f.input :body, as: :text, input_html: { rows: 3 } %>
          <%= f.button :submit %>

      <% end %>
      
    </div>
    <div class="span3">
    </div>
  </div>
</div>



