

<%= simple_form_for(@prof) do |f| %>
  <%= f.error_notification %>
  
 
      <div class="form-inputs">
        <%= f.input :name, input_html: { cols: 35, rows: 1 }, label: "Class and Section" %>
        <%= f.input :email, :as => :grouped_select, :collection => [['Professor Ferry', ['ben_ferry@hotmail.com']], ['Professor Mayer-Sommer', ['mayersom@georgetown.edu']], ['Professor Skuba', ['cjs29@georgetown.edu']], ['Professor Ulrick', ['swu2@georgetown.edu']]], :group_method => :last, label: "Professor Email" %>
        <%= f.input :pro, as: :text, input_html: { cols: 35, rows: 3 },  label: "What is working this week?" %>
        <%= f.input :con, as: :text, input_html: { cols: 35, rows: 3 }, label: "What could be improved or needs clarification?" %>

       <!-- <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
            <i class="icon-ok icon-white"></i> Send to Professor 
          <% end %> -->

        <%= f.button :submit, 'Send to Professor!' %>
        <!--<%= f.submit "Send to Professor!" %>-->
       <p>
       </p>
      </div>
   
      <!--<div class="form-actions">
        
      </div> -->

      <% end %>
