<div class="hero-unit">
<h1>Student Feedback</h1>
<br></br>

<table class="table table-hover">
  <tr>
    <th></th>
    <th>Class and Section</th>
    <th>Professor Email</th>
    <th>What is working this week?</th>
    <th>What could be improved or needs clarification?</th>
    <th>Timestamp</th>
    <th> </th>
    <th> </th>
    <th> </th>
  </tr>

<% @profs.each do |prof| %>
  <tr>
    <!-- current_user -->
    <% if current_user.email == prof.email %>
    <td></td>
    <td><%= prof.name %></td>
    <td><%= prof.email %></td>
    <td><%= prof.pro %></td>
    <td><%= prof.con %></td>
    <td><%= prof.created_at %></td>
    <td><%= link_to 'Show', prof %></td>
    <td><%= link_to 'Edit', edit_prof_path(prof) %></td>
    <td><%= link_to 'Destroy', prof, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  </tr>
<% end %>

<% @profs.each do |prof| %>
  <tr>
    <!-- current_user -->
    <% if current_user.email == 'reedcaleb@gmail.com' %>
    <td></td>
    <td><%= prof.name %></td>
    <td><%= prof.email %></td>
    <td><%= prof.pro %></td>
    <td><%= prof.con %></td>
    <td><%= prof.created_at %></td>
    <td><%= link_to 'Show', prof %></td>
    <td><%= link_to 'Edit', edit_prof_path(prof) %></td>
    <td><%= link_to 'Destroy', prof, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  </tr>
<% end %>

</table>

<br />

<%= link_to 'Home', root_path %>

</div>

