<div class="hero-unit">
<p id="notice"><%= notice %></p>

 
<p>
  <b>Professor Name:</b>
  <%= @prof.name %>
</p>

<p>
  <b>Professor Email:</b>
  <%= @prof.email %>
</p>

<p>
  <b>What is working?:</b>
  <%= @prof.pro %>
</p>

<p>
  <b>What can be improved?:</b>
  <%= @prof.con %>
</p>


<%= link_to 'Edit', edit_prof_path(@prof) %> 

<%= link_to 'Back', new_prof_path %>
</div>


