
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span6">

Please enter professor feedback
<%= form_for @feedback, :url => feedback_path do |f| %>
	Professor Name <%= f.text_field :professorname %> <br />
	 Email: <%= f.text_field :email %> <br />
	 Positive Feedback: <%= f.text_field :positivefeedback %> <br />
	 To be improved: <%= f.text_field :tobeimprovedfeedback %> <br />
	 <%= f.submit %>


<% end %>

<hr>
Display all professor feedback information <br />
<% if !@feedbacks.blank? %>
  <% for item in @feeedbacks %>
  <%= item.professorname %> <%= item.positivefeedbak %> <%= item.tobeimprovedfeedback %> <br />
  <% end %>
<% else %>
<% end %>


 </div>
    <div class="span3">
    </div>
  </div>
</div>
